html {
	height: 100%;
}

body {
	font-family: 'Montserrat', helvetica, arial, sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

#background {
	height: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 0;
}

article {
	background-color: rgba(0,0,0,0.78);
	color: #fff;
	left: 0;
	letter-spacing: 3px;
	margin-left: 0;
	padding: 0;
	position: absolute;
	height: 100%;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 50%;
	transform: translateY(-52%);
}

li {
	font-size: 1.875em;
	padding: 0.3em 0;
	text-transform: lowercase;
}

a {
	color: transparent;
	padding: 0 1em;
	text-decoration: none;
	text-shadow: 0 -0.16em rgba(255,0,0,1), -0.16em 0.16em rgba(0,255,0,1), 0.16em 0.16em rgba(0,0,255,1);
	width: 100%;

	&:hover {
		color: white;
		text-shadow: -1px 0 #fff, 1px 0 #fff, 0 -1px #fff, 0 1px #fff;
	}
}

@media only screen and (min-width: 480px) and (min-height: 400px) {
	article {
		left: 33%;
		margin-left: -125px;
	}
	
	ul {
		top: 33%;
		transform: translateY(-33%);
	}

	li {
		font-size: 2.75em;
	}
}